body {
  margin: 0;
  padding: 0;
}

.container-products {
  margin: 3em;
}

.product {
  border: 1px solid black;
  height: 13em;
  width: 25%;
  margin: 2em;
  overflow: auto;
}

.cb {
  margin: 10px 0 0 10px;
}

.product-text {
  text-align: center;
}

.add_product {
  margin: 20px;
  font-weight: bold;
}

.input_descr {
  font-weight: lighter;
}

#navbar {
  padding: 0 !important;
}

.nav-item {
  margin: 0 20px;
}
/*# sourceMappingURL=css.css.map */